<EditForm class="auth-form" Model="@_singUpForm">
    @if (_currentPage == "main-form")
    {
        <h1>Sign Up</h1>
        <div class="form-group">
            @if (_singUpForm.ProfilePicture == string.Empty)
            {
                <div class="profile-picture"><p>Picture</p></div>
            }
            else
            {
                <img class="profile-picture" src="@_singUpForm.ProfilePicture" alt="users avatar" />
            }
        
            <div class="text-input-group">
                <InputText
                    placeholder="Display Name"
                    type="text"
                    @bind-Value="_singUpForm.DisplayName"/>

                <InputText
                    placeholder="Discord Username"
                    type="text"
                    @bind-Value="_singUpForm.DiscordUsername"/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="text-input-group">
                <InputText
                    placeholder="Password"
                    type="password"
                    @bind-Value="_singUpForm.Password"/>

                <InputText
                    placeholder="Confirm Password"
                    type="password"
                    @bind-Value="_singUpForm.ConfirmPassword"/>
            </div>

            <label class="colour-picker" style="background-color: @_singUpForm.DisplayColour">
                <small>Colour</small>
                <input
                    type="color"
                    value="@_singUpForm.DisplayColour"
                    onchange="@ColourPickerOnChange"
                    hidden />
            </label>
        </div>
        
        <footer>
            <button class="link" @onclick="() => OnLogInClick.InvokeAsync()">Log In</button>
            <button class="btn-pink" @onclick="ChangeFormClick">Next</button>
        </footer>
    }
    else
    {
        <h1>Freetrade Authentication Cookie</h1>
        <ul>
            <li>Log into the Freetrade <a href="https://web.freetrade.io/login" target="_blank" rel="noreferrer">web interface</a></li>
            <li>Open your browsers dev tools and find cookies</li>
            <li>Copy and paste the value of <code>ft_web_session</code> into the text area</li>
        </ul>
        
        <InputTextArea @bind-Value="_singUpForm.FreetradeCookie" />
        
        <footer>
            <button class="link" @onclick="() => OnLogInClick.InvokeAsync()">Log In</button>
            
            <div>
                <button @onclick="ChangeFormClick">Back</button>
                <button class="btn-pink">Sign Up</button>
            </div>
        </footer>
    }
</EditForm>

    @code {
    [Parameter]
    public EventCallback OnLogInClick { get; set; }
    
    private readonly SignUpForm _singUpForm = new();

    private string _currentPage = "main-form";

    private void ColourPickerOnChange(ChangeEventArgs e)
    {
        _singUpForm.DisplayColour = e.Value!.ToString()!;
    }

    private void ChangeFormClick() => _currentPage = _currentPage == "main-form" ? "freetrade-cookie" : "main-form";
}